@mixin button {
  border-radius: 25px;
  width: 171px;
  height: 51px;
  font-family: "MuseoSans700";
  font-size: 18px;
  text-align: center;
  display: block;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  & span {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    vertical-align: middle;

    & img {
      width: 10px;
      height: 16px;
    }
  }
}

@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}