// colors
$grey: rgb(201, 158, 236);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-blue: rgb(0, 80, 255); 
$color-light-blue: rgb(0, 79, 251); 
$color-green: rgb(44, 194, 122); 
$color-navy: rgb(8, 31, 63); 
$color-light-grey: rgb(247, 247, 247); 
$color-lighter-grey: rgb(251, 251, 251); 
$color-dark-grey: rgb(128, 139, 155);



// fonts