.carousel {
  height: 800px;
  width: 100%;
  color: $color-white;
  background-image: url(../images/star.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  @include flex;
  justify-content: space-around;

  &-content {
    width: 80%;
    display: block;
    margin: auto;
  }

  &-circle {
    width: 65px;
    height: 65px;
  }

  &-arrow {
    width: 16px;
    height: 25px;
  }

  & #left-arrow {
    margin-left: 9%;
    cursor: pointer;
  }

  & #right-arrow {
    margin-right: 9%;
    cursor: pointer;
  }

  & > div {
    padding: 0 20px;
  }

  & h1 {
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    line-height: 62.711px;
  }

  & p {
    padding: 0 30px 50px;
    font-size: 18px;
    width: 60%;
    margin: auto;
    line-height: 30px;
    text-align: center;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .carousel {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    height: 400px;
    width: 100%;

    &-circle {
      transform: scale(0.7);
    }

    & > div {
      padding: 0 20px;
    }

    & h1 {
      text-align: center;
      font-weight: 100;
      font-size: 34px;
      line-height: 62.711px;
    }

    & p {
      padding: 0 30px 30px;
      width: 90%;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 640px) {
  .carousel {
    height: 250px;
    width: 100%;

    & > div {
      padding: 0 10px;
    }

    & h1 {
      font-size: 22px;
      line-height: 40px;
    }

    & p {
      display: none;
    }
  }
}
