header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & .main-heading {
    color: $color-white;
    text-align: center;
    font-family: "MuseoSans100";

    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    & h1 {
      text-align: center;
      font-weight: 100;
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/background-tablet.jpg);
    height: 700px;
    background-size: fill;
    z-index: 1111;
    & .main-heading {
      width: 70%;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);

      & h1 {
        font-size: 40px;
        line-height: 52px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 500px;
    zoom: -1;
    background-position: top center;
    & .main-heading {
      top: 32%;
      width: 90%;

      & h1 {
        font-size: 40px;
        line-height: 52px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    height: 600px;
    
    & .main-heading {
      width: 90%;
      top: 40%;
      left: 50%;
      & h1 {
        font-size: 30px;
        line-height: 50px;
      }
    }
  }
}


